<br>
<br>
<br>
<%= link_to "Compteur de caractères SMS", compte_caracteres_sms_path %>
<br>
<br>
<%= link_to "Compteur de mots", compteur_mots_path %>
<br>
<br>
<%= link_to "Generateur de Texte", generateur_texte_path %>

<p> ---- listing done for the moment </p>
<br>
<br>
<p>By Alexis</p>